{% extends 'base.html'%}
<body>
        {% block content %}

        
    <h1>welcome to news{{ id }}</h1>
    <ul>
        <div class="container-fluid">
            <div class="">
    {% for new in articles %}
    <div class="col-md-3">
        <div class="card">
        <div class="card-header">{{new.description}}</div>
        <br>{{new.publishedAt}}<br>
        <img src="{{ new.urlToImage }}" alt="{{ new.title }} poster" class="img-responsive" class='img-responsive img-circle' width='200' height="200" >
    </div>
    </div>
    </div>
    {% endfor %} 
    </div>
    </div>
</div>
    {% endblock%}
</body>

  